body {
    background-color: hsl(257, 40%, 49%);
    background-image: url('../images/bg-desktop.svg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    padding: 20px 50px;
}

.content {
    display: flex;
    justify-content: left;
    width: 100%;
}

.content img {
    padding: 20px 150px 20px 50px;
}

.content div {
    display: flex;
    flex-direction: column;
}

.subtitle h2 {
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 50px;
    margin-right: 40px;
}


.subtitle p {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}

.btn {
    text-align: center;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 50px;
    width: 150px;
    height: 45px;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.footer {
    width: 100%;
    display: flex;
    padding: 5px 5px;
    position: absolute;
    flex-direction: flex-end;
   padding-right: 8rem;
}


.footer i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 50%;
    padding: 10px;
    gap: 20px;
}

.footer i:hover {
    color: hsl(300, 69%, 71%);
}

.social-medias {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.fab {
    border: 1px solid white;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 10px 10px;
}

.fab:hover {
    border: 1px solid hsl(300, 69%, 71%);
    transition: 0.3s;
}